<header class="header">
  <h1 class="header__title">Buscador de series anime</h1>
  <!-- <button class="js-log-btn">Log</button> -->
  <div class="header__div--wrapper">
    <div class="header__div--input">
      <input
        class="header--input js-input"
        type="text"
        placeholder="Introduce aquí tu serie"
      />
    </div>
    <div class="header__div--button">
      <button class="header--button js-button">Buscar</button>
      <button class="header--button js-button-reset">Reset</button>
    </div>
  </div>
</header>
